*{
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: #081921;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.wrapper{
  box-sizing: border-box;
  align-self: center;
  height: 100%;
  font-size: 1.5em;
  display: grid;
  grid-template-columns: minmax(400px, 27%) 73%;
  /*grid-template-columns: 27% 73%;*/
  border-radius: 10px;
}

.sidebar{
  padding:20px ;
  min-width: 300px;
  background-color:#d7c49eff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: #343148ff;
  border-radius: 10px 0px 0px 10px;
}

.image{
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.image h1,h2{
  padding: 0;
  margin: 0;
}
.image h1{
  margin-top: 10px;
  margin-bottom: 5px;
}

.image h2{
  font-weight: 100;
}

.image img{
  width:20rem;
  border-radius: 50%;
  border: 2px solid transparent;
}

.contactList{
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style:none;
  line-height: 23px;
  display: flex;
  flex-direction: column;
}

.contactList h2{
  margin-bottom: 30px;
}

.contactList li{
  display: flex;
  align-items: center;
}

.contactList li img{
  padding-right: 30px;
  width: 35px;
  height: 35px;
  color: #fff;
}

.contactList li a{
  text-decoration: none;
  color: #343148ff;
}

.education h2{
  margin-top: 20px;
  margin-bottom: 10px;
}

.educationList{
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style:none;
}

.educationList li p{
  margin: 0;
  padding: 0;
}

.educationList li{
  margin-bottom: 10px;
}

.languages{
  width: 100%;
}

.languages ul{
  padding: 0;
}

.languages li{
  list-style: none;  
  margin-top: 10px;
}

.languages .percent{
  width: 100%;
  height: 6px;
  background:rgb(167, 152, 123);
  display: block;
  margin-top: 5px;
  border-radius: 3px;
}

.languages .percent div{
  height: 100%;
  background: #343148ff;
  border-radius: 3px;
  width: 0; /* Start at 0% width */
  animation: loadbar 2s ease-out forwards;
}

/* Define the animation */
@keyframes loadbar {
  from { width: 0; }
}

/*main//////////////////////////////////*/

.main{
  flex: 1;
  padding: 40px;
  padding-bottom: 40px;
  background-color: #343148ff;
  border-radius: 0px 10px 10px 0px;
  color: #d7c49eff;
  box-shadow: -5px 0px 15px  rgb(26, 24, 36);
  z-index: 10;
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .profile p, .main .experiences p{
  text-align: justify;
}

.skills ul{
  padding: 0;
}

.skills li{
  list-style: none;
  margin-bottom: 10px;
}

.skills .percent{
  width: 100%;
  height: 6px;
  outline: 1px solid #081921 ;
  background:#000;
  display: block;
  margin-top: 5px;
  border-radius: 3px;
}

.skills .percent div{
  height: 100%;
  background: #d7c49eff;
  border-radius: 3px;
  width: 0; /* Start at 0% width */
  animation: loadbar 2s ease-out forwards;
}

.interest li{
 display: flex;
 align-items: center;
 margin-top:20px ;
}

.interest li img{
  padding-right: 30px;
  width: 35px;
  height: 35px;
}

.interest ul{
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}

@media only screen and (max-width:1000px){
body{
  max-width:100% ;
  padding: 10px;
  box-sizing: border-box;
}
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact{
  width: 100%;
  display: flex;
  justify-content: center;
}
.contactList{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}
.education{
  width: 100%;
  display: flex;
  justify-content: center;
}
.educationList{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}
.educationList li{
  text-align: center;
}
.languages{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.languages ul{
  width: 100%;
}
.languages li .language{
  display: block;
  text-align: center;
}
}
